# Локальная конфигурация
config.json
.vscode

# Окружение Python
.venv/
venv/
__pycache__/
*.pyc
*.egg-info/
build/
dist/

# Локальная база
*.sqlite3

# Frontend
frontend/node_modules/
frontend/dist/
